@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Rock+Salt&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button, input, textarea {
  font: 400 16px "Roboto", sans-serif;
}

li {
  list-style-type: none;
}


/* sobre.html */
/* Header */
.main-header {
  background-image: url("images/background-image.png");
  background-position: 50% 39%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav {
  width: 100%;
}

.header-list-container {
  padding: 16px 0;
}

.nav-item {
  text-transform: uppercase;
  color: #fff;
  transition: 0.2s;
}

.nav-item:hover {
  color: rgba(255, 255, 255, 0.8);
}

.nav-item a {
  color: inherit;
  text-decoration: none;
}

hr {
  width: 100%;
}

.movie-title-large {
  /* text-align: center; */
  font-size: 54px;
}


/* Main */
.main-section {
  padding: 40px 0 64px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 16px
}

.section-title {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.about-movie-image {
  float: left;
  border-radius: 8%;
  margin: 0 20px 10px 0;
  width: 200px;
  height: auto;
}

.section-description {
  color: #777;
}

.section-description + .section-description {
  margin-top: 16px;
}


/*  Footer  */
.main-footer {
  background: #aa0505;
  padding: 16px 0;
}

.main-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-title-medium {
  font-size: 26px;
}

.movie-title {
  font-family: "Rock Salt", cursive;
  color: #fff;
}

.list-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-item + .footer-item {
  margin-left: 16px;
}

.footer-item img {
  width: 32px;
  height: 32px;
}


/* Responsividade */
@media (max-width: 584px) {
  .movie-title-large {
    font-size: 36px;
  }
}

@media (max-width: 470px) {
  .about-movie-image {
    width: 160px;
  }

  .main-footer-container {
    flex-direction: column;
  }

  .movie-title-medium {
    margin-bottom: 16px;
  }
}